.home-general-contfld {
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    background: {
        image: url( '../../../assets/imgs/img-home-bg.jpg' );
        size: cover;
        position: center;
    }
    *[height-el-gen-home] {
        height: 58px;
    }
    .icon-banmed-icon-login-cont {
        top: 24px;
        right: 24px;
    }
    & > [bg-colorBlackTran-3] {
        height: 100%;
    }
    .home-cont {
        max-height: 100vh;
        height: calc(100% - 80px);
    }
    .home-subtitle {
        width: 280px;
    }
    .home-banmed-breadcrumb-reference-cont {
        width: calc(100% + (33% - 60px) );
        right: 0px;
        .home-banmed-breadcrumb-reference {
            width: calc(25% + 45px) !important;
            text-align: right;
        }
    }
    .home-buttons-gender-cont {
        overflow: hidden;
        height: 58px;
    }
    .home-middle-zone-cont {
        .home-middle-zone-1 {
            .home-buttons-gender-cont {
                height: 100%;
            }
            .home-field-salary {
                app-banmed-input-1 {
                    width: calc(100% - 48px);
                }
                
            }
        }
        .home-middle-zone-2 {
            .banmed-switch-onoff-cont {
                .banmed-switch-onoff-circle {
                    &.off {
                        right: unset;
                        left: 8px;
                    }
                    &.on {
                        left: 53px;
                    }
                }
            }
        } 

    }
}
