<div class="container-fluid home-general-contfld">
  <div class="container home-cont" bg-colorBlackTran-2>
    <p>lorem</p>
    <p>lorem</p>
    <app-logo [chroma]="'baw'"></app-logo>
    
    <p>lorem</p>
    <span name="icon-banmed-icon-login" text-test text-size-30></span>
    <p>lorem</p>
    <p>lorem</p>
    <p>lorem</p>
    <p>lorem</p>
    <app-banmed-input-1 [data]="dataForInput"></app-banmed-input-1>
    <app-banmed-input-1 [data]="dataForInput"></app-banmed-input-1>
    <p>lorem</p>
    <p>lorem</p>
    <p>lorem</p>
    <p>lorem</p>
    <p>lorem</p>
    <p>lorem</p>
    <p>lorem</p>
    <p>lorem</p>
    <p>lorem</p>
    <p>lorem</p>
    <p>lorem</p>
    <p>lorem</p>
    <p>lorem</p>
  </div>
</div>