.home-general-contfld {
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    background: {
        image: url( '../../../assets/imgs/img-home-bg.jpg' );
        size: cover;
        position: center;
    }
    .home-cont {
        color: red;
        max-height: 100vh;
    }
    &, .home-cont {
        overflow: hidden;
    }
}
