<div class="container-fluid home-general-contfld p-0" position-fixed>
  <div class="icon-banmed-icon-login-cont" position-absolute z-index-10 cursor-pointer>
    <span name="icon-banmed-icon-login" text-white text-size-35></span>
    <div class="d-flex justify-content-center">
      <span text-white text-size-11 text-center>Iniciar<br>sesión</span>
    </div>
  </div>
    
  <div bg-colorBlackTran-3 img-responsive position-absolute full-height>
  </div>
</div>
  <div class="container home-cont d-flex flex-column justify-content-between pb-5" position-relative>

    <div class="home-top-zone d-flex justify-content-between">
      <span class="pt-2">
        <app-logo class="mt-5" [chroma]="'baw'" display-block></app-logo>
        <h2 class="home-subtitle text-weight-2 mt-4" text-white >Armar tu plan será 
        más fácil que 
        comprar un vuelo 
        ¡Y sin sorpresas!</h2>
      </span>
      <div class="col-md-5 pt-4 pl-0 pr-0" position-relative>
        <app-banmed-breadcrumbs class="pt-5 mt-5 d-block" position-relative></app-banmed-breadcrumbs>
        <div class="home-banmed-breadcrumb-reference-cont d-flex mt-3 text-weight-2" text-white img-responsive position-absolute>
          <div class="home-banmed-breadcrumb-reference pl-3"><p class="text-weight-2">
              <span>Ingresa <br>
              tus datos</span>
          </p></div>
          <div class="home-banmed-breadcrumb-reference pl-3"><p class="text-weight-2">
              <span>Selecciona <br>
              clínicas y <br>
              coberturas</span>
          </p></div>
          <div class="home-banmed-breadcrumb-reference pl-3"><p class="text-weight-2">
              <span>Agrega <br>
              productos <br>
              adicionales</span>
          </p></div>
          <div class="home-banmed-breadcrumb-reference pl-3"><p class="text-weight-2">
               <span>Resumen <br>
              de tu plan </span>
          </p></div>
        </div>
      </div> 
    </div>

    <div class="home-middle-zone-cont">
      <span class="text-weight-2 d-block pb-3" text-white>TUS DATOS</span>
      <div class="home-middle-zone-1 d-flex">
        <div class="col-md-4 pr-1 pl-0 d-block">
          <app-banmed-input-1 class="d-block px-0" [data]="user.dataForName"  ></app-banmed-input-1>
        </div>
        <div class="col-md-3 px-2 d-block">
          <div class="home-buttons-gender-cont cursor-pointer d-flex " height-el-gen-home border-color-white border-size-1 border-radius-6>
            <div class="col-md-6 px-2 d-flex justify-content-around align-items-center text-weight-2" (click)="user.gender = 'man'" full-height border-color-white border-size-r-1 transition-1 text-white [attr.bg-blue-1]="user.gender == 'man' ? true : null"><span text-size-19>Hombre</span><span name="icon-banmed-icon-man" text-size-30></span></div>
            <div class="col-md-6 px-2 d-flex justify-content-around align-items-center text-weight-2" (click)="user.gender = 'woman'" full-height transition-1 text-white [attr.bg-blue-1]="user.gender == 'woman' ? true : null"><span text-size-19>Mujer</span><span name="icon-banmed-icon-woman" text-size-30></span></div>
          </div>
        </div>
        <div class="col-md-1 px-1 d-block">
          <app-banmed-input-1 class="d-block px-0" [data]="user.dataForAge"  ></app-banmed-input-1>
        </div>
        <div class="col-md-4 px-2 d-flex align-items-center home-field-salary">
          <app-banmed-input-1 class="d-flex px-0" [data]="user.dataForSalary"></app-banmed-input-1>
          <div class="ml-2 d-flex justify-content-around align-items-center" sq-40 border-radius-circle bg-white cursor-pointer text-blue-1 text-size-24>?</div>
          <div *ngIf="user.dataForSalary.model.length > 0" class="home-field-salary-info-bottom d-flex justify-content-center py-1" text-white position-absolute bg-blue-1 border-radius-14>
              <span  class="text-weight-2" text-size-14> Tu 7% es 3,6UF / $100.000 </span>
          </div>
        </div>
      </div>
      <div class="home-middle-zone-2 d-flex">

        <div class="col-md-4 pr-1 pl-0 mt-4 d-block">
          <div class="cursor-pointer d-flex" height-el-gen-home border-color-white border-size-1 border-radius-6>
            <div class="col-md-12 px-3 d-flex justify-content-between align-items-center text-weight-2" full-height transition-1 text-white>
              <span text-size-19 no-select>Selecciona Región</span>
              <span class="mb-2" no-select><i class="fas fa-sort-down" text-size-30></i></span>
            </div>
          </div>
        </div>

        <div class="col-md-8 px-2 mt-4 d-flex">
        
          <div class="d-flex" height-el-gen-home no-select>
            <div class="col-md-12 p-0 pr-3 mr-0 d-flex justify-content-between align-items-center text-weight-2" full-height transition-1 text-white>
              <p class="m-0 text-weight-2">¿Quieres agregar <br>
                  cobertura de parto?</p> 
            </div>
          </div>
          <div class="cursor-pointer d-flex align-items-center" height-el-gen-home>
            <div (click)="user.childbed = !user.childbed" class="banmed-switch-onoff-cont cursor-pointer d-flex" o-hidden border-color-white border-size-1 border-radius-28 full-height>
              <div class="col-md-12 px-3 d-flex justify-content-between align-items-center text-weight-2" [attr.bg-blue-1]="user.childbed ? true : null" full-height transition-1 text-white position-relative>
                <span class="pr-3" text-size-19 no-select>Sí</span>
                <span class="pl-3" text-size-19 no-select>No</span>
                <span class="banmed-switch-onoff-circle" [ngClass]="{on: user.childbed, off: !user.childbed}" transition-1 sq-40 bg-white position-absolute border-radius-circle></span>
              </div>
            </div>
            <div class="ml-2 d-flex justify-content-around align-items-center" sq-40 border-radius-circle bg-white cursor-pointer text-blue-1 text-size-16><span name="icon-banmed-icon-speaker"></span></div>
          </div>

        </div>
      </div>
      
    </div>

    <div class="home-bottom-zone">
      <span class="d-flex align-items-center my-2">
        <span class="text-weight-2" text-white>BENEFICIARIOS</span>
        <div class="ml-3 d-flex justify-content-around align-items-center" sq-40 border-radius-circle bg-white cursor-pointer text-blue-1 text-size-24>?</div>
      </span>
      <div class="d-flex pb-2">
        <div class="col-md-2 pl-0 pr-2 d-block">
          <div class="home-buttons-gender-cont cursor-pointer d-flex" o-hidden height-el-gen-home border-color-white border-size-1 border-radius-6>
            <div class="col-md-6 px-2 d-flex justify-content-center align-items-center text-weight-2" (click)="user.beneficiaryToAdd.gender = 'man'" full-height border-color-white border-size-r-1 transition-1 text-white [attr.bg-blue-1]="user.beneficiaryToAdd.gender == 'man' ? true : null"><span name="icon-banmed-icon-man" text-size-30></span></div>
            <div class="col-md-6 px-2 d-flex justify-content-center align-items-center text-weight-2" (click)="user.beneficiaryToAdd.gender = 'woman'" full-height transition-1 text-white [attr.bg-blue-1]="user.beneficiaryToAdd.gender == 'woman' ? true : null"><span name="icon-banmed-icon-woman" text-size-30></span></div>
          </div>
        </div>
        <div class="col-md-1 px-1 d-block">
          <app-banmed-input-1 class="d-block px-0" [data]="user.beneficiaryToAdd.dataForAge"></app-banmed-input-1>
        </div>
        <div (click)="addBeneficiary(user.beneficiaryToAdd)" class="col-md-2 px-2 d-block">
          <div class="cursor-pointer d-flex align-items-center justify-content-between" o-hidden border-color-white border-size-1 border-radius-28 full-height>
              <div class="ml-2 d-flex justify-content-around align-items-center" sq-40 border-radius-circle bg-white cursor-pointer text-blue-1 text-size-20><span name="icon-banmed-icon-plus"></span></div>
              <span class="pr-3 text-weight-2" line-height-13 text-white no-select>Agregar otro <br>
                beneficiario
              </span>
          </div>
        </div>
      </div>
      <div class="col-md-5 d-flex mt-2 p-0" *ngFor="let beneficiary of user.beneficiaries; let index = index">
      
        <div class="d-flex align-items-center justify-content-between" full-width border-color-white border-size-b-1 border-size-t-1 height-el-gen-home text-white>
          <span class="text-weight-2" [attr.name]="beneficiary.gender == 'woman' ? 'icon-banmed-icon-woman' : 'icon-banmed-icon-man'" text-size-30></span> 
          <span class="text-weight-2">
            {{ ( beneficiary.gender == 'man' ? 'Hombre' : 'Mujer') + ' | ' + beneficiary.dataForAge.model + ( beneficiary.dataForAge.model == '1' ? ' año' : ' años' )}}
          </span>
          <span class="text-weight-2">
            Beneficiario {{ index + 1 }}
          </span>
          <span (click)="removeBeneficiary(index)" name="icon-banmed-icon-close" text-size-20 opacity-13 cursor-pointer>
          </span>
        </div>

      </div>
    </div>

  </div>

