<span class="input-comp-1-cont-general">
  <div class="input-comp-1-cont" border-radius-6 border-size-1 border-color-white padding-7 border>
    <span class="input-1-cont" position-relative>
      <span position-absolute class="label-input-1" [ngClass]="{onfocus: data.focus || data.model.length > 0}" text-size-22>{{data.label}}</span>
      <input class="input-1" [attr.type]="data.type" [(ngModel)]="data.model" (focus)="data.focus = true" (focusout)="data.focus = false" bg-transparent-0 text-size-22>
    </span>
  </div>
</span>