.input-comp-1-cont-general {
    .input-comp-1-cont {
        height: 58px;
        .input-1-cont {
            .label-input-1 {
                top: -2px;
                left: 0px;  
                pointer-events: none;
                font-size: 19px;
                &.onfocus {
                    top: -13px;
                    font-size: 13px;
                }
            }
            .input-1 {
                background-color: transparent;
                -webkit-appearance: none;
                padding: 0px;
                border-width: 1px;
                border-style: none;
                outline: none;
                outline-offset: 0px;
                text-transform: uppercase;
                width: 100%;
                margin-top: 6px;
            }
        }
    }
}