<div class="banmed-breadcrumbs-cont-gen">
  <div>
    <div class="banmed-breadcrumbs-cont flex-row justify-content-between align-items-center d-flex">
      <span display-block sq-45 border-color-white border-size-1 border-radius-circle></span>
      <hr border-size-b-1 bg-white>
      <span display-block sq-45 border-color-white border-size-1 border-radius-circle></span>
      <hr border-size-b-1 bg-white>
      <span display-block sq-45 border-color-white border-size-1 border-radius-circle></span>
      <hr border-size-b-1 bg-white>
      <span display-block sq-45 border-color-white border-size-1 border-radius-circle></span>
    </div>
  </div>
</div> 