<div class="banmed-breadcrumbs-cont-gen">
  <div>
    <div class="banmed-breadcrumbs-cont flex-row justify-content-between align-items-center d-flex" position-relative>
      <span class="d-flex justify-content-center align-items-center text-weight-2" text-white sq-45 border-color-white border-size-1 border-radius-circle>1</span>
      <hr border-size-b-1 bg-white>
      <span class="d-flex justify-content-center align-items-center text-weight-2" text-white sq-45 border-color-white border-size-1 border-radius-circle>2</span>
      <hr border-size-b-1 bg-white>
      <span class="d-flex justify-content-center align-items-center text-weight-2" text-white sq-45 border-color-white border-size-1 border-radius-circle>3</span>
      <hr border-size-b-1 bg-white>
      <span class="d-flex justify-content-center align-items-center text-weight-2" text-white sq-45 border-color-white border-size-1 border-radius-circle>4</span>
      <span class="d-flex justify-content-center align-items-center text-weight-2 banmed-breadcrumbs-airplane" text-white sq-45 bg-white border-color-white border-size-1 border-radius-circle position-absolute><span name="icon-banmed-icon-airplane" text-blue-1 text-size-18></span></span>
    </div>
  </div>
</div> 